			ul,li,img{
				margin: 0;
				padding: 0;
			}
			.container ul{
				float: left;
				width: 400px;
				height: 500px;
				overflow: auto;
				border: 3px solid deepskyblue;
			}
			.container ul li img{
				width: 380px;
				height: 200px;
			}
			.container .currentImg,.container .currentImg img{
				width: 800px;
				height: 400px;
			}
			.container .currentImg{
				float: left;
				position: relative;
			}
			.container .currentImg .currentImgOver{
				width: 200px;
				height:100px;
				position: absolute;
				left: 0;
				top: 0;
				background: rgba(255,255,255,0.5);
			}
			
			.container .bigImg,.container .bigImg img{
				width: 300px;
				height: 150px;
			}
			.container .bigImg{
				float: left;
				margin: 50px;
			}