body,html,ul,li,dl,dt,dd,img,h1,h2,h3,h4,h5,span,p,form,a,
fieldset,select,option{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	color: black;
}
body,html,ul,li,dl,dt,dd,img,span,p,form,a,
fieldset,select,option{
	font-size: 14px;
}
a{
	text-decoration: none;
}
ul li{
	list-style: none;
	float:left;
}
img{
	border: none;
	display: block;
}
body,html{
	width: 100%;
	height: 100%;
}
